@{
    ViewData["Title"] = "Alta de cadetes";
}

<section>
    <article>
        <form asp-controller="Cadetes" asp-action="Cargar_Cadete" method="POST">
            <fieldset>
                <legend>Insertar un nuevo cadete</legend>

                <label for="nombre">Nombre: </label>
                    <input name="nombre" type="text" required></input>

                <label for="telefono">Telefono: </label>
                    <input name="telefono" type="text" required></input>

                <label for="direccion" >Direccion: </label>
                    <input name="direccion" type="text" required></input>

                <input type="submit" value="Enviar">
            </fieldset>
        </form>           
    </article>
</section>

